* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Inter", sans-serif;
}

.navbar {
	width: 100%;
	background-color: #f55a5a;
	color: white;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar i {
	font-size: 45px;
}

.navbar--heading {
	font-size: 35px;
	line-height: 18px;
	font-weight: 500;
}
.card {
	display: flex;
	gap: 20px;
	color: #2b283a;
	margin: 80px;
}
.card--img {
	border-radius: 10px;
}
.card__details {
}

.card__details i {
	color: #f55a5a;
}

.card__details--country {
	letter-spacing: 17%;
	text-transform: uppercase;
}
.card__details--map {
	color: #918e9b;
}
.card__details--title {
	font-weight: 700;
}
.card__details--dates {
	font-weight: 700;
}
.card__details--text {
}
