* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Inter", sans-serif;
}

.navbar {
	width: 100%;
	background-color: #f55a5a;
	color: white;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar i {
	font-size: 45px;
}

.navbar--heading {
	font-size: 35px;
	line-height: 18px;
	font-weight: 500;
}
